<ActionBar class="action-bar">
    <!-- Should remove the navigation button -->
    <NavigationButton ios:visibility="collapsed"></NavigationButton>
    <Label class="action-bar-title" text="Browse" horizontalAlignment="center"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <RadListView [items]="_devices" (itemTap)="onDeviceItemTap($event)" class="list-group">
        <!--
    RadListView is a UI component part of the Progress NativeScript UI set of components.
    Learn more about the RadListView UI component and how it can be customized in this documentation article:
    http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/ListView/getting-started
    This component is used to display the master list in the master-detail structure.
    -->
        <ng-template tkListItemTemplate let-device="item" let-car="item">
            <StackLayout class="list-group-item">
                <GridLayout rows="*, *, *" columns="*, *" class="list-group-item-content">
                    <Label [text]="device.deviceId" class="text-primary font-weight-bold"></Label>
                    <StackLayout row="1" class="hr-light m-t-5 m-b-5" colSpan="2"></StackLayout>
                    <Image row="2" [src]="device.imageUrl" stretch="aspectFill" decodeWidth="120" decodeHeight="120" height="120" class="m-r-20"></Image>
                    <Label class="p-b-10" rowSpan="2" col="1" row="1">
                        <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                        <FormattedString ios:fontFamily="system">
                            <Span text="&#xf007;   " class="fa text-primary"></Span>
                            <Span [text]="device.userId"></Span>
                        </FormattedString>
                    </Label>
                </GridLayout>
            </StackLayout>
        </ng-template>
    </RadListView>

    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</GridLayout>