<ActionBar class="action-bar">
    <!-- Should remove the navigation button -->
    <NavigationButton ios:visibility="collapsed"></NavigationButton>
    <Label class="action-bar-title" text="Browse" horizontalAlignment="center"></Label>
</ActionBar>

<GridLayout rows="*, *" columns="*, *" class="page page-content">
    <Button row="0" col="0" text="Get" (tap)="getDevice()" class="btn btn-primary btn-active"></Button>
    <Button row="0" col="1" text="Return" class="btn btn-primary btn-active"></Button>
    <Button row="1" colSpan="2" text="List" class="btn btn-primary btn-active" (tap)="onListTapped()"></Button>
    <BarcodeScanner class="scanner-round" formats="QR_CODE, EAN_13" beepOnScan="true" reportDuplicates="true" preferFrontCamera="false"
        (scanResult)="onScanResult($event)">
    </BarcodeScanner>
</GridLayout>