<ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()">
    </NavigationButton>
    <Label class="action-bar-title" [text]="device.deviceId" horizontalAlignment="center"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <GridLayout rows="auto, auto, auto, *">
            <Image [src]="device.imageUrl" stretch="aspectFill" height="200" class="m-b-15"></Image>

            <StackLayout row="1" class="hr-light m-t-15 m-b-15"></StackLayout>

            <GridLayout row="2" rows="*,*,*,*,*,*" columns="auto, auto">
                <div *ngIf="device.userId === 'rack'; then thenBlock else elseBlock"> </div>
                <ng-template #thenBlock>
                    <Label text="Currently available" class="p-l-15 p-b-10 m-r-20 text-secondary"></Label>
                </ng-template>
                <ng-template #elseBlock>
                    <Label text="Taken by:" class="p-l-15 p-b-10 m-r-20 text-secondary"></Label>
                    <Label col="1" class="text p-b-10">
                        <FormattedString>
                            <Span [text]="device.userId"></Span>
                        </FormattedString>
                    </Label>

                    <Label text="Taken on:" class="p-l-15 p-b-10 m-r-20 text-secondary" row="1"></Label>
                    <Label [text]="device.date" row="1" col="1" class="text p-b-10"></Label>
                </ng-template>

                <StackLayout row="3" colSpan="2" class="p-l-15">
                    <ng-template ngFor let-histEntry [ngForOf]="device.history">
                        <Label text="Returned by {{histEntry.oldOwner}} on {{histEntry.date}}" *ngIf="histEntry.newOwner === 'rack'" class="text p-b-10 m-r-20"></Label>
                        <Label text="Taken by {{histEntry.newOwner}} on {{histEntry.date}}" *ngIf="histEntry.newOwner !== 'rack'" class="text p-b-10 m-r-20"></Label>
                    </ng-template>
                </StackLayout>
            </GridLayout>
        </GridLayout>
    </ScrollView>
</GridLayout>